{% load static %}

<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="{% static 'assets/js/freelancer.js' %}"></script> -->
<!-- <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/Responsive-News-Card-Slider.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
<script src="{% static 'assets/js/Swipe-Slider-7.js' %}"></script>
<script src="{% static 'assets/js/Table-With-Search.js' %}"></script> -->